---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="Sobre Mi"
	description="Instructora de Pilate"
	pubDate={new Date('August 08 2024')}
	heroImage="/vecteezy_pilates-logo-vector_9514788.jpg"
>
	<p>
		Soy instructora de pilates y lashista profesional con experiencia en atención al cliente y administración. Me especializo en pilates,  lashista y tengo un historial comprobado de mis logros. Mi objetivo es conseguir un puesto en el que pueda aplicar mis habilidades y conocimientos, y estoy comprometida con alcanzar mis metas y las de la organización.
	</p>

	<p>
		Mi puesto es INSTRUCTORA DE PILATES con experiencia en atención al cliente y administración, en los estudios JUNKO Pilates - fitness y HEBE Estética - pilates, mis responsabilidad es crear una clases o rutina adaptada para cada clientes, enseñanzas individuales o grupales, evaluación y seguimiento del crecimiento de los clientes, manteniendo un ambiente seguro y limpio.
	</p>
	<p>
		aprendiendo.
	</p>

	
</Layout>
