---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<h1>🧑✨🏗️hola, Mundo soy yo de Nuevo!</h1>
			<p>
				bienvenidos a este Proyecto <a href="">Pilate</a> blog starter que vamos a estar escribiendo y compartiendo información sobre el Método Pilates, para que lo conozcáis con más profundidad. Daremos nuestra personal visión sobre él y trataremos además sobre otros temas relacionados con el bienestar físico pero también mental y emocional.
			</p>
			<p>
				Nos apasiona el Pilates. Se ha convertido en nuestra terapia y queremos darlo a conocer para que cada vez seamos más los que podamos gozar de sus beneficios y mejorar la calidad de vida.
				Si queréis más detalles, pinchad en los enlaces. 😃 En las redes sociales nos podéis encontrar en 
				
				<a href="https://www.instagram.com/anabellaluxen/">Facebook e Instagram .</a> 
			</p>
			<p>
			<p>
				Cualquier inquietud que os surja, preguntadnos. No te olvides suscribirte para no perderte ninguna entrada!! 
				Gracias por leernos!!!!
			</p>
		</main>
		<Footer />
	</body>
</html>
