---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<h1>Método Pilates</h1>
			<h2>¿Que es el Método Pilates?</h2>
			<p>
				
					El Método Pilates es, principalmente, un sistema de entrenamiento con el que poder mantener tu cuerpo en forma. Se trata de un conjunto de ejercicios que, practicados de forma correcta y habitualmente, permiten desarrollar nuestra musculatura de manera uniforme y reeducar nuestro cuerpo, corrigiendo nuestra postura y mejorando nuestra respiración. Se trabaja la concentración, la coordinación, el equilibrio, la precisión y la fluidez de los movimientos. Se busca sobre todo el control de la mente sobre el cuerpo, convirtiéndose, a la vez, en un ejercicio con el que desarrollarla. Por todo ello, este método no es simplemente una actividad física, sino un modo de moverse, de hacer ejercicio, de cuidarse, de vivir de manera saludable y consciente.

					Se realizan series de ejercicios de manera controlada, que se pueden simplificar y modificar según las posibilidades de la persona. Que se unen en una secuencia cuando ya se domina su práctica, convirtiéndose en una perfecta coreografía. No te excedes nunca de tus posibilidades. Vas consiguiendo fuerza y flexibilidad poco a poco. Se puede adaptar a cualquier condición física. Lo pueden practicar personas de cualquier edad. Con enfermedades o patologías, hay que tener ciertas consideraciones. Se trabaja de modo seguro, ya que los movimientos se realizan de forma cautelosa, sin dolor, respetando en todo momento nuestro cuerpo.
			</p>
			<h2>¿Qué te aporta el Método Pilates?</h2>
					<p>
						A través de su práctica aprendes a escuchar tu cuerpo, a sentirlo, a conocerlo. Aprendes a encontrar tu alineación correcta, aplicándola a lo largo del día, lo que favorece el estado de tus articulaciones y evita posibles contracturas y lesiones. Comprendes como funciona tu musculatura, de modo que tus movimientos y acciones cotidianas pasas a realizarlos de manera correcta y segura. Entiendes la importancia de la respiración y comienzas a tomar conciencia de ella dentro y fuera de la práctica del Pilates.
					</p>
			
					<p>
						Nos apasiona el Pilates. Se ha convertido en nuestra terapia y queremos darlo a conocer para que cada vez seamos más los que podamos gozar de sus beneficios y mejorar la calidad de vida. Si queréis más detalles, pinchad en los enlaces. 😃 En las redes sociales nos podéis encontrar en 
						
						<a href="https://www.instagram.com/anabellaluxen/">Facebook e Instagram .</a> 
						Cualquier inquietud que os surja, preguntadnos. No te olvides suscribirte para no perderte ninguna entrada!! 
						Gracias por leernos!!!!
					</p>
		</main>
		<Footer />
	</body>
</html>
<style>
	h1 {
		justify-content: center;
		text-align: center;
		
	}
	h2{
		text-align: center;
		
	}
	p{
		text-align: justify;
	}
</style>
